
build/
libs/

.gradle/

.idea/

.DS_Store

collection/

out/
tools/simd-bench/out/

DataPackExamples/

TreeGenStuff/
dist/
core/plugins/
adapters/bukkit/plugin/plugins/
adapters/*/run/

.codegraph/

plans/

docs/
